<h1 class="{{data}}">Hello world {{data}}</h1>

<!-- <app-login-new></app-login-new>
<app-signup></app-signup>
<app-user></app-user>
<app-form-demo></app-form-demo> -->

<app-to-do-list></app-to-do-list>

<br />
<br />
<br />
<br />


<button (click)="getName('jaimina')">click me</button>
<button (click)="getName(1)">click me number</button>

<br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="Event Keyup"  />

<br />
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="Event Keydown"  />

<br />
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="Event blur"  />

<br />
<input type="text" #box3 (input)="getData(box3.value)" placeholder="Event input"  />

<br />
<h1 (mouseover)="getData('over')"> Mouse Over </h1>
<h1 (mouseleave)="getData('leave')"> Mouse Leave </h1>

<button (click)="getData(box.type)">click me number</button>


Input value is: {{value}}

<!-- Interpolation -->

<input type="text" disabled={{disabled}} />
<!-- Property binding -->

<input type="text" [disabled]=disabled />


<!-- style -->


<style>
  .heading{
    color: red;
  }
</style>
<h1 class="heading"> Internal Style </h1>
<h1 style="color: green;"> Inline Style </h1>
<h1 class="component-style"> Component Style </h1>


<br />
<br />
<br />
<br />
<br />

<!-- If else condition -->

<h1 *ngIf="show==='yes'; then ifBlock else elseBlock"></h1>
<h1 *ngIf="show==='no'; then elseIfBlock else elseBlock"></h1>
<ng-template #ifBlock>
  <h1>If condition</h1>
</ng-template>
<ng-template #elseIfBlock>
  <h1>else If condition</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>else condition</h1>
</ng-template>

<!-- Multiple if condition -->

<ng-template [ngIf]= "show==='yes'">
  <h1> first if</h1>
</ng-template>
<ng-template [ngIf]= "show==='no'">
  <h1> second if</h1>
</ng-template>
<ng-template [ngIf]= "show==='123'">
  <h1> third if</h1>
</ng-template>


<!-- Switch condition -->

<div [ngSwitch]="color">
  <h5 *ngSwitchCase="'red'" style="color:red">Red color</h5>
  <h5 *ngSwitchCase="'pink'" style="color:pink">pink color</h5>
  <h5 *ngSwitchCase="'green'" style="color:green">green color</h5>
  <h5 *ngSwitchCase="'yellow'" style="color:yellow">yellow color</h5>
  <h5 *ngSwitchCase="'blue'" style="color:blue">Blue color</h5>
  <h5 *ngSwitchDefault style="color:darkorange">Default color</h5>

</div>

<br />
<br />
<br />
<br />
<br />
<!-- For Loop -->

<h4 *ngFor="let item of users">
  name {{item}}
</h4>

<h4 *ngFor="let item of userDetail">
   {{item.name}} --- {{item.phone}}
</h4>

<!-- Nested loop -->

<ul *ngFor="let item of userDetail">
  <li>
    {{item.name}}
  </li>
  <li>
    {{item.phone}}
  </li>
  <ul *ngFor="let acc of item.account">
    <li>
      {{acc}}
    </li>
  </ul>
</ul>


<!-- Style binding -->

<p [style.color]="color" [style.backgroundColor]="bgColor">{{data}}</p>
<button (click)="updateColor()">Button color</button>

